<h3>Welcome to <%= application_name %>!</h3>

<p><strong><%= application_name %></strong> is an application for searching metadata and bitstream content from forensic disk images. It relies on <a href="http://projectblacklight.org/">Blacklight</a>, <a href="http://lucene.apache.org/solr/">Solr</a>, and <a href="http://domex.nps.edu/deep/Fiwalk.html">fiwalk</a>.</p>

<p>The code is currently <a href="http://github.com/anarchivist/gumshoe">available on Github.</a></p>