<h3>Welcome to <%= application_name %>!</h3>

<p><strong><%= application_name %></strong> is a Rails-based application for searching metadata from disk images. It relies on <a href="http://projectblacklight.org/">Blacklight</a>, <a href="http://lucene.apache.org/solr/">Solr</a>, and <a href="http://domex.nps.edu/deep/Fiwalk.html">fiwalk</a>. Sample data for this index has been taken from images distributed by the <a href="http://digitalcorpora.org">Digital Corpora</a> project.</p>

<p>The code is currently <a href="http://github.com/anarchivist/gumshoe">available on Github.</a></p>